<h3 class="mb-4">Frequently Asked Questions</h3>
{{#faqs}}
  <ul>
    <li class="faq">
      <h4 class="faq-question">{{{question}}}</h3>
      <div class="faq-answer">{{{answer}}}</div>
    </li>
  </ul>
{{/faqs}}
{{^faqs}}None{{/faqs}}
