<div class="modal fade" id="modal-dicesides" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dice rolls and dice sides</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>For sufficient security, to generate enough random data, if your dice has:</p>
          <ul>
            <li>6 sides, you will need 50 rolls;</li>
            <li>16 sides, you will need 32 rolls; or</li>
            <li>20 sides, you will need 30 rolls.</li>
          </ul>
      </div>
      </div>
    </div>
  </div>
