<div class="modal fade" id="modal-bitsentropy" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seed words</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>On this site you can choose between 12 and 24 seed words for your wallet.  The most common choice is 12 words.</p>
        <ul>
          <li><b>12 words</b> is used by many popular wallets.  It requires 50 rolls of a 6 sided dice.  It offers "128 bit" security which, with present known technology, should take at least centuries to crack.</li>
          <li><b>24 words</b> is not used by many wallets yet.  It requires 100 rolls of a 6 sided dice.  It offers "256 bit" security, which would take much longer to crack than 128 bit.</li>
        </ul>
        <p>More: <a href="https://en.wikipedia.org/wiki/Key_size">https://en.wikipedia.org/wiki/Key_size</a></p>
        <div class="highlight">
          <em>
            "... The large number of operations ... required to try all possible 128-bit keys is widely considered out of reach for conventional digital computing techniques for the foreseeable future. However, experts anticipate alternative computing technologies that may have processing power superior to current computer technology ..."
          </em>
        </div>
      </div>
      </div>
    </div>
  </div>
